<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<main th:fragment="ads" class="ads">
	
	<!--<div style="display: flex; justify-content: center; font-weight: bold; text-align: center; color: var(--text1); margin-bottom: 75px;">
		<div style="width: 85%; height: 150px; border: 1px solid var(--text1); padding: 10px 10px;">
			<span>!</span>
			<span>광고영역</span>
		</div>
	</div>-->
</main>